body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #CDFFD8, #94B9FF);
  font-family: Arial, sans-serif;
  display: block;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  min-height: 80vh; /* Change to min-height for full viewport height */
}

header {
  padding: 10px;
}

.logo {
  width: 100px;
  height: auto;
}

.editor {
  padding: 20px;
}

form {
  max-width: 750px;
  margin: 30px auto;
}

#microphoneButton {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  background-color: #94B9FF;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;

}

#microphoneButton:hover {
  background-color: #990000;
}

footer {
  position: fixed; /* Fix the position of the footer */
  bottom: 0; /* Align the footer at the bottom of the viewport */
  left: 0; /* Align the footer to start from the left edge of the viewport */
  width: 100%; /* Ensure the footer extends the full width of the viewport */
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

label{
  font-style: italic;
  font-size: larger;
  margin-left: 10px;
  
}
