/* This is a simple CSS file for styles.css */

body, html {
    background-color: rgb(243, 148, 148);
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  header {
    text-align: center;
  }
  