/* This is a simple CSS file for styles.css */

body, html {
    background-color: gainsboro;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  header {
    text-align: center;
  }
  